* {
  margin: 10;
  padding: 50;
  border:1px black
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  }


  img.fotografia{

    display: block;

    margin:0 auto;

  }


  .column {
    float: left;
    width: 225px;
height: 200px;
margin: 0 auto;
    margin: 20px;

    background-color: black;
    align: center
  }
  h2{

    color:white


  }
h3{

  color:white

}

  p {

    color:white

  }
  #theForm {

color:GREY;
display: table;
padding: 15px;
background-color: WHITE;
border: solid 2px red;
align-items: center;
color:white
}

.row {
display: table-row;
width: 175px

}

.row label {
display: table-cell;
padding: 2px;
text-align:right;
color:white

}
.row input {
display: table-cell;
padding: 2px;
align-items: center;
}
